<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574614288610-8mn9v4iv4g4sosb1droim94870682bfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574614288610-8mn9v4iv4g4sosb1droim94870682bfq</string>
	<key>API_KEY</key>
	<string>AIzaSyA2OjmgaHQesPv1zoOcBGY2yu12Q9lSCTI</string>
	<key>GCM_SENDER_ID</key>
	<string>574614288610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protosem</string>
	<key>PROJECT_ID</key>
	<string>protosem-forge</string>
	<key>STORAGE_BUCKET</key>
	<string>protosem-forge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574614288610:ios:5d099544a4e39b8dd6c6bb</string>
</dict>
</plist>